body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 900px; /* Limita la larghezza massima per una migliore leggibilità */
    margin: 20px auto; /* Centra il contenuto */
}

.brano-musicale {
    background: #fff;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.brano-musicale h2 {
    color: #333;
    border-bottom: 2px solid #007bff; /* Un colore di accento */
    padding-bottom: 10px;
    margin-top: 0;
}

.contenitore-spartito {
    margin-bottom: 20px;
}

.contenitore-spartito img {
    max-width: 100%;
    height: auto;
    display: block; /* Per evitare spazi extra sotto l'immagine */
    border: 1px solid #ccc;
}

.contenitore-spartito iframe {
    border: 1px solid #ccc;
    border-radius: 4px; /* Angoli arrotondati per l'iframe */
}


.contenitore-audio p,
.contenitore-spartito p {
    font-weight: bold;
    margin-bottom: 8px;
}

audio {
    width: 100%; /* Fa sì che il player audio occupi tutta la larghezza disponibile */
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    margin-top: 30px;
}